<meta charset="utf-8">
<head>
    <title> explotiv </title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all"/>
</head>

<style>


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

</style>
{% include 'js_imports.html' %}
<body>
    <header>
    <h1><em>explotiv</em> Transcriptome Explorer</h1>
    </header>
    <nav>
    <div id='explotiv-legend'></div>
    </nav>

    <section>
    <div id='explotiv-chart'></div>
    </section>
    <aside>
        <div class='hoverInfo' id='hoverinfodiv'></div>
        <div id='histogram-chart'></div>
    </aside>
<script>


{% include 'explotiv.js' %}
phyloInit();

</script>
</body>
